In [25]:
import seaborn as sns
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [4]:
#data loader
with open('../Dataset/car_evaluation/car.data', 'r', encoding='utf-8') as file:
    data = file.readlines()

In [9]:
# data frame setup
data_list = []
for line in data:
    columns = line.strip().split(',')
    data_list.append(columns)
    
column_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "Label"]
df = pd.DataFrame(data_list, columns=column_names)

df.head()

  buying  maint doors persons lug_boot safety  Label
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [10]:
# label encording
label=LabelEncoder()
df['buying_L']=label.fit_transform(df['buying'])
df['maint_L']=label.fit_transform(df['maint'])
df['doors_L']=label.fit_transform(df['doors'])
df['persons_L']=label.fit_transform(df['persons'])
df['lug_boot_L']=label.fit_transform(df['lug_boot'])
df['safety_L']=label.fit_transform(df['safety'])
df["Label_L"]=label.fit_transform(df["Label"])
print(df)

df.head()

     buying  maint  doors persons lug_boot safety  Label  buying_L  maint_L  \
0     vhigh  vhigh      2       2    small    low  unacc         3        3
1     vhigh  vhigh      2       2    small    med  unacc         3        3
2     vhigh  vhigh      2       2    small   high  unacc         3        3
3     vhigh  vhigh      2       2      med    low  unacc         3        3
4     vhigh  vhigh      2       2      med    med  unacc         3        3
...     ...    ...    ...     ...      ...    ...    ...       ...      ...
1723    low    low  5more    more      med    med   good         1        1
1724    low    low  5more    more      med   high  vgood         1        1
1725    low    low  5more    more      big    low  unacc         1        1
1726    low    low  5more    more      big    med   good         1        1
1727    low    low  5more    more      big   high  vgood         1        1

      doors_L  persons_L  lug_boot_L  safety_L  Label_L
0           0          0           2         1        2
1           0          0           2         2        2
2           0          0           2         0        2
3           0          0           1         1        2
4           0          0           1         2        2
...       ...        ...         ...       ...      ...
1723        3          2           1         2        1
1724        3          2           1         0        3
1725        3          2           0         1        2
1726        3          2           0         2        1
1727        3          2           0         0        3

[1728 rows x 14 columns]

,buying,maint,doors,persons,lug_boot,safety,Label,buying_L,maint_L,doors_L,persons_L,lug_boot_L,safety_L,Label_L
0,vhigh,vhigh,2,2,small,low,unacc,3,3,0,0,2,1,2
1,vhigh,vhigh,2,2,small,med,unacc,3,3,0,0,2,2,2
2,vhigh,vhigh,2,2,small,high,unacc,3,3,0,0,2,0,2
3,vhigh,vhigh,2,2,med,low,unacc,3,3,0,0,1,1,2
4,vhigh,vhigh,2,2,med,med,unacc,3,3,0,0,1,2,2

In [13]:
x = df
x = x.drop(columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'Label', 'Label_L'], axis=1)

In [16]:
y = df['Label_L']
x

      buying_L  maint_L  doors_L  persons_L  lug_boot_L  safety_L
0            3        3        0          0           2         1
1            3        3        0          0           2         2
2            3        3        0          0           2         0
3            3        3        0          0           1         1
4            3        3        0          0           1         2
...        ...      ...      ...        ...         ...       ...
1723         1        1        3          2           1         2
1724         1        1        3          2           1         0
1725         1        1        3          2           0         1
1726         1        1        3          2           0         2
1727         1        1        3          2           0         0

[1728 rows x 6 columns]

In [18]:
# Train test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1296, 6), (432, 6), (1296,), (432,))

# SVM

In [20]:
clf_svm = SVC(random_state=0)
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.9212962962962963
[[ 82   1  15   1]
 [  7  11   0   3]
 [  2   0 294   0]
 [  5   0   0  11]]

# LR

In [22]:
clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.6550925925925926
[[ 11   0  84   4]
 [  1   0  20   0]
 [ 24   0 269   3]
 [  4   0   9   3]]

# DT

In [24]:
clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9768518518518519
[[ 92   4   3   0]
 [  0  21   0   0]
 [  2   0 294   0]
 [  1   0   0  15]]

# RT

In [26]:
print ("\n--- Random Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(x_train, y_train)
pred_rf = rf_clf.predict(x_test)
print(accuracy_score(y_test, pred_rf))
print (confusion_matrix(y_test, pred_rf))

--- Random Forest ---
0.9745370370370371
[[ 95   3   1   0]
 [  2  19   0   0]
 [  3   0 293   0]
 [  2   0   0  14]]